.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li:hover {
  background-color: rgb(97, 206, 243);
}

.tarefas li .edit {
  margin-right: 15px;
  color: rgb(97, 206, 243);
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: black;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
